/*header*/

.toper{
    height: 110px;
    position: fixed;
    top:0;left:0;right: 0;z-index: 102;
    background: url(../images/hd-bg1.png)center top no-repeat;
}
.toper.fixed{
    height: 90px;
}
.toper.wlimit{
    max-width: 1500;
    width: 90%;
}
