/*header*/

body{
    padding-top: 86px;
}
.toper{
    height: 86px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 102;
    background: url(../images/hd-bg1.png)center top no-repeat;
}
.toper .wlimit{
    max-width: 1180px;
    width: 85%;
    margin: auto;  
}
.toper .top{
    padding-top: 10px;
}
.fix:after, .fix:before{
    display:block;
    content:"clear";
    height:0;
    clear:both;
    overflow:hidden;
    visibility:hidden
}
.toper .top-l{
    float: left;
}
.toper .top-l a{
    margin-right: 10px;
}
.toper .top-r{
    float: right;
}
.toper .top-r a{
    margin-right: 10px;
}
a:visited,a:link,a:hover,a:active{
    color: white;
    text-decoration:none;
}
